* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  line-height: 1.6;
}

header h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

header h2 {
  font-size: 24px;
  opacity: 0.9;
}

main section {
  width: 90%;
  max-width: 900px;
  margin: 40px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

main section h3 {
  font-size: 26px;
  margin-bottom: 15px;
  color: #283e51;
}

#habilidades ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#habilidades li {
  background: #4b79a1;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
}

.projetos-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: #eee;
  padding: 30px;
  border-radius: 10px;
  flex: 1;
  min-width: 200px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  background: #ddd;
}

#contato a {
  color: #4b79a1;
  text-decoration: none;
  font-weight: bold;
}

#contato a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #283e51;
  color: white;
  margin-top: 40px;
}
